/* Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .home-card {
    max-width: 550px;
    height: max-content;
    margin: 25px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
  }

  .text-color {
    color: #FFFFFF;
  }
  
  