body {
    background-color: #1E1E1E;
}

.login-container {
    margin-top: 35px;
}

.login-card{
    padding: 22px;
    text-align: center;
    margin: 10px auto;
    max-width: 630px;
}

.white-box {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    border: 1px black solid;
    padding: 40px;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 188px;
    height: 51px;
    margin-top: 20px;
    justify-content: center;    
}

.reg-button {
    width: 250px;
    height: 51px;
    margin-top: 20px;
    justify-content: center;    
}

.button-background {
    width: 100%;
    height: 100%;
    background: #181818;
    border-radius: 19px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    border: none; 
    cursor: pointer; 
    position: relative;
}

.button-background:hover {
    opacity: 0.8; 
}

.button-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    word-wrap: break-word;
}
.login-link {
    color: #37FF00; 
    text-decoration: none; 
    transition: text-shadow 0.3s ease, color 0.3s ease; 
}

.login-link:hover {
    text-shadow: 0px 0px 10px #37FF00; 
    opacity: 0.9; 
}